@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

body {
  font-family: "Public Sans", sans-serif;
}

ul.nav {
  @apply w-2/6 text-center mt-2;
}

.nav-item {
  @apply inline-block cursor-pointer text-gray-500 border-b-4 border-transparent border-solid font-normal py-6;

  @apply hover:border-accent;
}

.nav-item-active {
  /*background: linear-gradient(to top left, #fff calc(50% - 2px), var(--hoverColor), #fff calc(50% + 2px));*/
  @apply border-accent font-bold text-black;
}

.filter-drop-shadow {
  will-change: filter;
  filter: drop-shadow(0px 0px 0.5em rgba(0, 0, 0, 0.1));
  -webkit-filter: drop-shadow(0px 0px 0.5em rgba(0, 0, 0, 0.1));
}
.filter-drop-shadow-view {
  will-change: filter;
  filter: drop-shadow(0px 0px 0.25em rgba(0, 0, 0, 0.1));
  -webkit-filter: drop-shadow(0px 0px 0.25em rgba(0, 0, 0, 0.1));
}

.filter-drop-shadow-extended {
  will-change: filter;
  filter: drop-shadow(0px 0.25em 0.875em rgba(0, 0, 0, 0.1));
  -webkit-filter: drop-shadow(0px 0.25em 0.875em rgba(0, 0, 0, 0.1));
}

.filter {
  width: 348px !important;
}

/* .prose ul > li::before{
   position: relative;
} */

.list ul > li::before {
  content: "—" !important;
  position: absolute;
  background-color: transparent;
  color: red;
  border-radius: 0;
  width: 0.375em;
  height: 0.375em;
  top: 0px;
  left: 0;
}
.list p {
  font-size: 1.18rem !important;
  line-height: 1.75rem !important;
}

::-webkit-scrollbar {
  width: 0;
}

.plain-page {
  font-weight: 300;
}

.plain-page strong {
  font-weight: 700;
}

.screen-grid {
  @apply -mx-1.5 sm:-mx-2 lg:-mx-u1 3xl:-mx-4;
}

.screen {
  @apply p-1.5 sm:p-2 lg:p-u1 3xl:p-4;
}

.screen-mobile {
  @apply w-1/2 sm:w-1/3 lg:w-1/6;
}

.screen-desktop {
  @apply lg:w-1/2 w-full;
}

.wrapper{
  @apply mx-auto max-w-8xl;
}

.nav-link {
  @apply font-normal;
}
.active {
  @apply underline font-bold text-gray-900;
  text-decoration-color: #FF3A02;
  text-underline-offset: 1.6rem;
  text-decoration-thickness: 4px;
}

.article-image-left {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  @apply mx-auto lg:float-left lg:p-5 lg:-ml-7/20 w-2/3;
}

.article-image-right {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  @apply mx-auto lg:float-right lg:p-5 lg:-mr-7/20 w-2/3;
}

.trust-article-image-block {
  @apply flow-root;
}

.article-grid {
  @apply grid grid-cols-1 lg:grid-cols-3 gap-4;
}

.article-jargon-image-grid {
  @apply lg:w-3/2 lg:-ml-1/4;
}

.article-grid-span-3 {
  @apply col-span-1 lg:col-span-3;
}

.article-grid-span-1 {
  @apply col-span-1;
}

.article-grid-image {
  @apply rounded-lg;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}