@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;500;600;700;800;900&display=swap");
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

body {
  font-family: "Public Sans", sans-serif;
}

ul.nav {
  @apply w-2/6 text-center mt-2;
}

.nav-item {
  @apply inline-block cursor-pointer text-gray-500 border-b-4 border-transparent border-solid font-normal py-6;

  @apply hover:border-accent;
}

.nav-item-active {
  /*background: linear-gradient(to top left, #fff calc(50% - 2px), var(--hoverColor), #fff calc(50% + 2px));*/
  @apply border-accent font-bold text-black;
}

.filter-drop-shadow {
  filter: drop-shadow(0px 0px 0.5em rgba(0, 0, 0, 0.1));
  -webkit-filter: drop-shadow(0px 0px 0.5em rgba(0, 0, 0, 0.1));
}
.filter-drop-shadow-view {
  filter: drop-shadow(0px 0px 0.25em rgba(0, 0, 0, 0.1));
  -webkit-filter: drop-shadow(0px 0px 0.25em rgba(0, 0, 0, 0.1));
}

.filter-drop-shadow-extended {
  filter: drop-shadow(0px 0.25em 0.875em rgba(0, 0, 0, 0.1));
  -webkit-filter: drop-shadow(0px 0.25em 0.875em rgba(0, 0, 0, 0.1));
}

.filter {
  width: 348px !important;
}

/* .prose ul > li::before{
   position: relative;
} */

.list ul > li::before {
  content: "—" !important;
  position: absolute;
  background-color: transparent;
  color: red;
  border-radius: 0;
  width: 0.375em;
  height: 0.375em;
  top: 0px;
  left: 0;
}
.list p {
  font-size: 1.18rem !important;
  line-height: 1.75rem !important;
}

::-webkit-scrollbar {
  width: 0;
}

.plain-page {
  font-weight: 300;
}

.plain-page strong {
  font-weight: 700;
}
